In [3]:
def addTwoNum(n1,n2):
    return n1+n2

n1=10
n2=12

addTwoNum(n1,n2)

22

In [5]:
def say_hello():
    print("Hello")
say_hello()

Hello

In [10]:
def say_hello(name='Sam'):
    print(f'Hello {name}')

say_hello()

Hello Sam

In [11]:
def add_num(n1,n2):
    return n1+n2
add_num(10,12)

22

In [12]:
2 % 2

0

In [13]:
3 % 2

1

In [14]:
41 % 40

1

In [15]:
20 % 2 == 0

True

In [17]:
def even_check(num):
    res = num % 2 == 0
    return res
even_check(30)

True

In [19]:
even_check(301)

False

In [25]:
# Return true if any num is even inside the list

def check_even_list(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass
    return False

In [26]:
check_even_list([1,3,5])

False

In [27]:
check_even_list([2,3,6,8])

True

In [32]:
def print_even_list(num_list):
    even_number = []
    for num in num_list:
        if num % 2 == 0:
            even_number.append(num)
        else:
            pass 
    return even_number

In [34]:
print_even_list([1,3,4])

[4]

In [35]:
print_even_list([1,3,467])

[]

In [38]:
# FUnction and Tuple Unpacking
stock_price = [('Apple',200),('Angoor',787)]

for a,b in stock_price:
    print(a)
    print(b*10)

Apple
2000
Angoor
7870

In [39]:
work_hour = [('Alice', 20),('Bob',90)]

def employee_check(work_hour):
    current_max=0
    employee_of_month = ''

    for employee,hours in work_hour:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return (employee_of_month,current_max)

In [40]:
employee_check(work_hour)

('Bob', 90)

In [41]:
name,hours = employee_check(work_hour)

In [42]:
name

'Bob'

In [43]:
hours

90

In [44]:
res = employee_check(work_hour)

In [45]:
res

('Bob', 90)

In [76]:
example = [1,2,6,4,32,21,23]

from random import shuffle

shuffle(example)
example

[1, 4, 32, 23, 2, 6, 21]

In [77]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

shuffle_list(example)

[1, 32, 4, 2, 23, 21, 6]

In [78]:
mylist = [' ','O',' ']
shuffle_list(mylist)

['O', ' ', ' ']

In [79]:
def player_guess():

    guess=''
    while guess not in ['0','1','2']:
        guess = input("Pick number  0,1 or 2")
        
    return int(guess)

In [80]:
my_index = player_guess()
my_index

Pick number  0,1 or 2 1

1

In [87]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct")
    else:
        print("Wrong")

In [88]:
#INITIAL LIST
mylist = [' ','O',' ']

#Shuffle LIst
mixed_list = shuffle(mylist)
#UserGuess
guess = player_guess()

#Check Guess
check_guess(mixed_list,guess) # This is where interact with fun comes into picture bcz it takes the result of 2 function

Pick number  0,1 or 2 1

TypeError: 'NoneType' object is not subscriptable

In [91]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*0.5
myfunc(20,40)

30.0

In [93]:
#*args --> User can pass as many arg they want
def myfunc(*args):
    return sum(args) * 0.5

myfunc(12,23,35,57)

63.5

In [98]:
#*args --> User can pass as many arg they want
def myfunc(*spam):
    print(spam) # Tuple

myfunc(12,23,35,57)

(12, 23, 35, 57)

In [102]:
def myfunc(*args,**kwargs):
    print("I would like {} {}".format(args[0],kwargs['food']))


myfunc(10,20,30,fruit='organge',food='eggs',animal='cat')

I would like 10 eggs

In [105]:
def square(num):
    return num*num

In [106]:
my_nums = [1,2,5,6]

In [107]:
#map(function, iterator) --> return map obj of result after apply a function to each given iterable(list or tuple)
map(square,my_nums)

In [108]:
for item in map(square,my_nums):
    print(item)

1
4
25
36

In [109]:
list(map(square,my_nums))

[1, 4, 25, 36]

In [110]:
#Write a func if string has even number print even otherwise print 1st letter of the string

def myfunc(myString):
    if len(myString)%2 == 0:
        return "EVEN"
    else:
        return myString[0]

In [111]:
names = ["Andy","Anice","Bob","Mary"]

In [114]:
list(map(myfunc,names))

['EVEN', 'A', 'B', 'EVEN']

In [116]:
#Filter()
def even(num):
    return num%2 == 0

In [117]:
nums = [1,2,3,6]

In [118]:
filter(even,nums)

In [119]:
list(filter(even,nums))

[2, 6]

In [120]:
for i in filter(even,nums):
    print(i)

2
6

In [127]:
list(map(lambda n : n*n,nums))

[1, 4, 9, 36]

In [129]:
list(filter(lambda n : n%2 == 0,nums))

[2, 6]

In [130]:
names

['Andy', 'Anice', 'Bob', 'Mary']

In [132]:
list(map(lambda name : name[0],names))

['A', 'A', 'B', 'M']

In [134]:
list(map(lambda n: n[::-1],names))

['ydnA', 'ecinA', 'boB', 'yraM']

In [142]:
#LEBG -> Local , Enclosing function local , built-in , global

#Global
name = "This is a global String"

def greet():
    #Enclosing
    name = "Sam"

    def hello():
        #Local
        name = "Cool"
        print("Hello "+name)

    hello()

In [143]:
greet()

Hello Cool

In [152]:
x = 90

def greet():
    global x
    #Enclosing
    print("x is : " ,x)

    x='Hey'
    print("LOcally chnaged global variable now x is : ",x)

In [153]:
greet()

x is :  90
LOcally chnaged global variable now x is :  Hey